
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:white;
}

html {
  scroll-behavior: smooth;
}

#logo {
  position: fixed;
  padding: 30px 10px;
  color: rgb(138, 126, 126);
  font-size: 20px;
  margin-left: 40px;
  transition: 0.4s;
  z-index: 9999;
  margin-top: -10px;

}

section {

  height: auto;

}

nav {
  background-color:rgba(247, 241, 241, 0) ;
  display: flex;
  justify-content: end;
  color: grey;
  overflow: hidden;
  padding: 30px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

nav a {
  color: rgb(138, 126, 126);
  text-decoration: none;
  padding: 5px;
  transition: border-bottom 0.1s ease-in;
  margin-left: 20px;
  margin-right: 30px;
}

nav a:hover {
  opacity: 0.5;
  color: grey;
  transition: 0.2s;

}

nav a.active {
  border-bottom: 2px solid rgb(219, 213, 213);;
}


/*CONTACT*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/*FOUNDER*/


/*FOUNDER END*/





/*INTERSECTNG ANIMATE*/
.element-to-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, /* délai de 0.3s avant l'animation */
              transform 1s cubic-bezier(0.4, 0, 0.2, 1) 0.3s; /* délai de 0.3s avant l'animation */
}

.element-to-animate.visible {
  opacity: 1;
  transform: translateY(0);
}



.element-to-animate-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease-out, transform 1s ease-out;
}

.element-to-animate-right.visible {
  opacity: 1;
  transform: translateY(0);
}

.element-to-animate-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 1s ease-out;
}

.element-to-animate-left.visible {
  opacity: 1;
  transform: translateY(0);
}
/*INTERSECTNG ANIMATE*/







/********************************
  /* Terminal container */
.terminal {
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  height: 300px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  border: 2px solid rgba(0, 255, 0, 0.5);
  margin: 20px auto;
  position: relative;
}

/* Text in the terminal */
#output {
  white-space: pre-wrap;
  line-height: 1.5;
}

/* Terminal cursor */
.cursor {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: #0f0;
  margin-left: 2px;
  animation: blink 0.6s infinite;
}

/* Cursor blinking animation */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/*******************************/